<template>
  <div id="app">
    <img src="./assets/header.png" alt style="width:100%" />
    <div class="container">
      <button @click="login" type="button" v-if="!user">Login with Microsoft</button>
      <!-- <button @click="getName" type="button" v-if="user">
      Call get Name
      </button>-->
      <button @click="logout" type="button" v-if="user">Logout</button>
      <h3 v-if="user">Hello {{ user.name }}</h3>

      <p v-if="loginFailed">Login unsuccessful</p>
      <p v-if="apiCallFailed">Graph API call unsuccessful</p>
      <div class="row">
        <div class="col-md-8 emp-profile">
          <div v-if="userInfo">
            <form method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="profile-img">
                    <img
                      src="insert-picture-here"
                      onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png';"
                      alt
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-head">
                    <h5>{{ userInfo.givenName }} {{ userInfo.surname }}</h5>
                    <h6>{{ userInfo.jobTitle }}</h6>
                    <h6>{{ userInfo.officeLocation }}</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <h2>About</h2>
                    <div class="col-md-6">
                      <label>User Id</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ userInfo.id }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ userInfo.givenName }} {{ userInfo.surname }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ userInfo.mail }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ userInfo.businessPhones[0] }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Profession</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ userInfo.jobTitle }}</p>
                    </div>
                    <hr />
                    <div class="col-md-12">
                      <h2>Find Your Doppelganger</h2>
                    </div>
                    <div class="col-md-12">
                      <div id="requestSection">
                        <div>
                          <p>
                            Select image to see your look a like
                            <input
                              type="file"
                              accept="image/*"
                              id="uploadImage"
                              name="files[]"
                              size="40"
                              v-on:change="handleFileSelect('uploadImage')"
                            />
                            <input
                              type="button"
                              id="query"
                              value="Get Look A Like"
                              v-on:click="getLookalike()"
                            />
                          </p>
                          <div class="col-md-4">
                            <output id="thumbnail"></output>
                          </div>
                          <div class="col-md-4">
                            <output id="result"></output>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div id="responseSection"></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div v-else>
            <h2>Please login to begin</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <h2>Search User</h2>
          <div class="input-group">
            <input
              @change="searchPeople"
              type="text"
              class="form-control"
              placeholder="Eg. Knowledge in Project Management"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-addon" id="basic-addon2">Search</span>
          </div>
          <br />
          <ul class="list-group">
            <li
              v-for="result in results"
              v-bind:key="result.index"
              class="list-group-item"
            >{{result.name}}</li>
          </ul>
          <select v-model="selected" v-on:keyup="UserSearchbyEmail($event)">
            <option>Select User</option>
            <option value="chad.devine@ontario.ca">Chad Devine</option>
            <option value="nirav.vyas@ontario.ca">Nirav Vyas</option>
            <option value="heston.paes@ontario.ca">Heston Paes</option>
            <option value="david.tallan@ontario.ca">David Tallan</option>
            <option value="steven.d.smith@ontario.ca">Steven Smith</option>
            <option value="miguel.magsino@ontario.ca">Miguel Magsino</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 emp-profile"></div>
      </div>
    </div>
    <img src="./assets/footer.png" alt style="width:100%" />
  </div>
</template>

<script>
import AuthService from "./services/auth.service";
import GraphService from "./services/graph.service";

export default {
  name: "app",
  data() {
    return {
      selected: "chad.devine@ontario.ca",
      user: null,
      userInfo: null,
      userSearch: null,
      userInfobyEmail: null,
      apiCallFailed: false,
      loginFailed: false,
      results: [],
      people: [
        {
          email: "chad.devine@ontario.ca",
          name: "Chad Devine"
        },
        {
          email: "heston.paes@ontario.ca",
          name: "Heston Paes"
        },
        {
          email: "david.tallan@ontario.ca",
          name: "David Tallan"
        },
        {
          email: "steven.d.smith@ontario.ca",
          name: "Steven Smith"
        },
        {
          email: "miguel.magsino@ontario.ca",
          name: "Miguel Magsino"
        }
      ]
    };
  },

  created() {
    this.authService = new AuthService();
    this.graphService = new GraphService();
  },
  mounted() {
    let account = this.authService.getAccount();
    if (account) {
      this.user = account;
      this.getUserInfo();
    }
  },
  methods: {
    searchPeople(event) {
      this.results = [{}];
      let temp = [];
      let peopleL = this.people;
      for (var i = 0; i < peopleL.length; i++) {
        if (
          peopleL[i].name
            .toLowerCase()
            .includes(event.target.value.toLowerCase())
        ) {
          temp.push(peopleL[i]);
          /* eslint-disable-next-line no-console */
          console.log(temp);
        }
      }
      this.results = temp;
      /* eslint-disable-next-line no-console */
      console.log(temp);
    },
    handleFileSelect(selector) {
      var files = document.getElementById(selector).files; // A FileList object

      for (var i = 0, f; (f = files[i]); i++) {
        // Ensure the file is an image file.
        if (!f.type.match("image.*")) {
          alert("Selected file must be an image file.");
          document.getElementById("uploadImage").value = null;
          continue;
        }

        // Image must be <= 1 MB and should be about 1500px.
        if (f.size > 1000000) {
          alert("Image must be less than 1 MB.");
          document.getElementById("uploadImage").value = null;
          continue;
        }

        var reader = new FileReader();

        // Capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            var fileOutput = document.getElementById("thumbnail");

            if (fileOutput.childElementCount > 0) {
              fileOutput.removeChild(fileOutput.lastChild); // Remove the current pic, if it exists
            }

            // Render thumbnail.
            var span = document.createElement("span");
            span.innerHTML = [
              '<img class="thumb" src="',
              e.target.result,
              '" title="',
              escape(theFile.name),
              '"/>'
            ].join("");
            fileOutput.insertBefore(span, null);
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    },
    getLookalike() {
      /* eslint-disable indent */

      var f = document.getElementById("uploadImage").files[0];
      var form = new FormData();
      form.append("image", f);

      const headers = new Headers({
        "Content-Type": "multipart/form-data",
        "X-BingApis-SDK": true,
        "Ocp-Apim-Subscription-Key": "d30f5d6a5aaf4b448887c3c0ed912b36"
      });

      const request = new Request(
        "https://vissearch-hackathon.cognitiveservices.azure.com/bing/v7.0/images/visualsearch",
        {
          method: "POST",
          body: form,
          headers
        }
      );

      fetch(request)
        .then(data => data.json())
        .then(returnedData => {
          for (let i = 0; i < returnedData.tags[0].actions.length; i++) {
            if (returnedData.tags[0].actions[i].actionType == "VisualSearch") {
              var fileOutput = document.getElementById("result");
              if (fileOutput.childElementCount > 0) {
                fileOutput.removeChild(fileOutput.lastChild); // Remove the current pic, if it exists
              }
              // Render thumbnail.
              var span = document.createElement("span");
              span.innerHTML = [
                '<img class="thumb" src="',
                returnedData.tags[0].actions[i].data.value[0].thumbnailUrl,
                '"/>'
              ].join("");
              fileOutput.insertBefore(span, null);
            }
          }
        });
    },
    getUserInfo() {
      this.apiCallFailed = false;
      this.authService.getToken().then(
        token => {
          this.graphService.getUserInfo(token).then(
            data => {
              this.userInfo = JSON.parse(JSON.stringify(data));
            },
            () => {
              this.apiCallFailed = true;
            }
          );
        },
        () => {
          this.apiCallFailed = true;
        }
      );
      this.getUserSearch();
    },
    getUserSearch() {
      this.apiCallFailed = false;
      this.authService.getToken().then(
        token => {
          this.graphService.getUserSearch(token).then(
            data => {
              this.userSearch = data;
            },
            () => {
              this.apiCallFailed = true;
            }
          );
        },
        () => {
          this.apiCallFailed = true;
        }
      );
    },
    UserSearchbyEmail() {
      this.apiCallFailed = false;
      this.authService.getToken().then(
        token => {
          this.graphService.getUserSearchbyEmail(token, this.selected).then(
            data => {
              this.userInfo = JSON.parse(JSON.stringify(data));
            },
            () => {
              this.apiCallFailed = true;
            }
          );
        },
        () => {
          this.apiCallFailed = true;
        }
      );
    },

    logout() {
      this.authService.logout();
    },
    login() {
      this.loginFailed = false;
      this.authService.login().then(
        user => {
          if (user) {
            this.user = user;
            this.getUserInfo();
          } else {
            this.loginFailed = true;
          }
        },
        () => {
          this.loginFailed = true;
        }
      );
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  margin: 15px;
}

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.thumb {
  width: 200px;
}
</style>